@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to top left,rgb(0, 157, 255),rgb(25, 189, 230));
}
.outer-box{
    width: 100vw;
    height:100vh;
    /* background: linear-gradient(to top left,rgb(0, 157, 255),rgb(25, 189, 230)); */
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    padding: 5px 50px;
    position:relative;
    top: 50%;
    transform:translateY(-50%) ;
    /* background: #ffffff11; */
    background: linear-gradient(to top right,#ffffffff,#ffffff22);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 2px 2px 5px #525252;
    z-index: 2;
}
.signup-header h1{
    font-size: 2rem;
    color: #212121;
}
.signup-header p{
    font-size: 0.9rem;
    color: #615f5fd9;
}
.signup-body{
    margin: 20px 0px;
}
.signup-body p{
    margin: 10px 0px;
}
.signup-body p label{
    display: block;
    margin-left: 10px;
    font-weight: bold;
}
.signup-body p input, button{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 15px;
    font-size: 1rem;
    margin-top: 5px;
}
.signup-body p button{
    background-color: rgb(0, 162, 255);
    border: none;
    color: white;
    cursor: pointer;
    width: auto;
}
.signup-body p button:hover{
    background-color: rgb(0, 116, 183);    
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right,#ffffff22,#ffffffff);
    position: absolute;

}
.c1{
    top: 100px;
    left: 40px;
}
.c2
{
    bottom: 100px;
    right: 40px;
}
.submit{
    display: block;
    text-align: center;
}
#acceptTerms{
    display: inline-block;
    width: fit-content;
}
#checkbox>label{
    display: inline-block;
    width: fit-content;
}
.red{
    color: red;
}

.entries{
    width:fit-content;
    margin: 0 auto;
    padding: 5px 50px;
    position:absolute;
    top: 150%;
    left: 23%;
    background: linear-gradient(to top right,#ffffffff,#ffffff22);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 2px 2px 5px #525252;
    z-index: 2;
}
table td, table th{
    border: 1px solid;
    padding: 7px;
    margin: 0;
    
}
table{
    border-collapse: collapse;
}

.center{
    text-align: center;
}

#toggle-button:hover>a>button{
    background-color: rgb(231, 229, 229);
    cursor: pointer;
}
